<div class="row valign-wrapper">
    <div class="col m6 offset-m3 s12">
        <a [routerLink] = "'/cars'"
        class="btn-floating waves-effect waves-light blue-grey">
            <i class="material-icons">
                keyboard_arrow_left
            </i>
        </a>
    </div>
</div>

<div class="row valign-wrapper">
    <div class="col m6 offset-m3 s12">
        <h5 class="center-align">Список aвтомобілів </h5>
    </div>
</div>
<div *ngFor="let car of cars" class="row valign-wrapper">
    <div class="col m6 offset-m3 s12">
        <h6>{{car.name}}</h6>
    </div>
</div>